body {
    margin: 0; /* Убираем отступы */
}

.parent {
    position: absolute;
    left: 40%;
    top: 40%;
    /*background: gray;*/
    width: 370px;
    height: 70px;
}

.editInput {
    width: 140px;
}

.leftCol {
    position: relative;
    left: 0;
    top: 0;
    text-align: left;
    width: 70px;
    /*background-color: red;*/

}

.centerCol {
    position: absolute;
    left: 70px;
    top: 0;
    text-align: right;
    width: 150px;
    right: auto;
    /*background-color: green;*/

}

.rightCol {
    position: absolute;
    left: 220px;
    top: 0;
    text-align: center;
    /*background-color: yellow;*/
    width: 150px;
}

.welcomeParent {
    margin-right: 90%;
    margin-top: 20px;
    /*background-color: gray;*/
}

.welcomeContent {
    position: absolute;
    left: 40%;
    top: 40%;
    /*background-color: yellow;*/
}

.welcomeRight {
    position: absolute;
    left: 90%;
    top: 20px;
    /*background-color: red;*/
}

