.text {
    font-size: 12px;
    font-family: serif;
}

.welcomeLogout {
    color: cornflowerblue;
    font-size: 16px;
    font-family: serif;

}

.welcomeText {
    color: cornflowerblue;
    font-size: 20px;
    font-family: serif;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

.errorMessage {
    color: red;
}