.text {
    font-size: 12px;
    font-family: serif;
}

.welcomeLogout {
    color: cornflowerblue;
    font-size: 16px;
    font-family: serif;

}

.welcomeText {
    color: cornflowerblue;
    font-size: 20px;
    font-family: serif;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

.errorMessage {
    color: red;
}

table{
    border-spacing: 0px;
    border: 1px;
    border-style: solid;
    border-color: #000000;
    font-size: 16px;
    font-family: serif;
}
tr{
    height: 30px;
}
.trHeader {
    color: #ffffff;
    background-color: #551a8b;
}

.trEvenRow {
    background-color: #8e9bce;
}