html, body {
    padding: 0;
    margin: 0;
}

#logo {
    top: 5px;
    bottom: 0px;
    left: 5px;
    width: 90%;
    position: relative;
}

#searchBar {
    top: 15px;
    bottom: 0px;
    left: 47px;
    width: 90%;
    position: relative;
}

#content {
    top: 20px;
    bottom: 0px;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    background-color: #fff;

}

#footer {
    position: fixed;
    left: 20px;
    bottom: 20px;
    padding: 0px;
    width: 90%;
    clear: both;

}

#left-col {
    width: 100px;
    float: left;
}

#right-col {
    width: 100px;
    float: right;
}