#footer-theme {
    background: #fff;
    color: #8e9bce; /* Font Color */
    font-size: 12px;
    font-family: serif;

}

a {
    top: 0px;
    bottom: 0px;
    left: 0px;
    color: #551a8b;
    font-size: 16px;
    font-family: serif;

}

.content-text {
    color: #666666;
    top: 0px;
    bottom: 15px;
    left: 0px;
    font-size: 14px;
    font-family: sans-serif;
    text-align: justify;
}

.submit {
    color: #000;
    width: 55px;
    height: 26px;
    border: medium;
    display: inline-block;
    font-size: 12px;
    font-family: sans-serif;

}

.text {
    color: #000;
    font: 13px/14px "Helvetica Neue",Arial,Tahoma,sans-serif;
    font-family: sans-serif;
    width: 255px;
    height: 22px;
    border-style: solid;
    border-color: gainsboro;

}

.SearchInput {
}

#searchPlaceholder {
    color: #999999;
    cursor: text;
    font: 13px/14px "Helvetica Neue",Arial,Tahoma,sans-serif;
    height: 14px;
    width: 255px;
    left: 0;
    overflow: hidden;
    padding-left: 5px;
    position: absolute;
    top: 6px;
    display: block;
}


